@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poppins:wght@100;200;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: black;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

hr {
  color: #E65100;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hero-content .hero-desc {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-content .hero-desc p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  color: #FB8C00;
  background: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-content .hero-desc .brand {
  padding: 2rem;
  background: #E65100;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  transform: skew(12deg);
  border-radius: 10px;
  margin: 1.5rem 0;
  width: 70%;
  box-shadow: #ff4e00 0px 5px 15px;
  position: relative;
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  color: white;
}
.hero-content .hero-desc .brand span {
  display: block;
  transform: skew(-12deg);
}
.hero-content .hero-desc .brand:nth-of-type(2) {
  margin-left: 8rem;
}
.hero-content .hero-image {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-content .hero-image img {
  width: 100%;
}

@keyframes reveal {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@media screen and (max-width: 1250px) {
  .hero-content .hero-desc .brand {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
  }
}
@media screen and (max-width: 900px) {
  .hero-content .hero-desc .brand {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    width: 88%;
  }
}
@media screen and (max-width: 700px) {
  .hero-content {
    flex-direction: column;
  }
  .hero-content .hero-desc {
    margin-left: -5rem;
    width: 60%;
    min-height: 500px;
    transform: translate(0, 20%);
  }
  .hero-content .hero-desc p {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    text-align: center;
  }
  .hero-content .hero-desc .brand {
    width: 100%;
    font-size: 1.3rem;
    min-width: 230px;
  }
}
.desc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  flex-direction: column;
}
.desc-container .heading {
  margin-bottom: 3rem;
}
.desc-container .heading h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  background: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 1;
  -webkit-text-fill-color: transparent;
}
.desc-container .heading h1::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background: #EF6C00;
  bottom: 0;
  transform: skew(-30deg);
  background-color: #ff4e00;
  background: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}
.desc-container .desc-content {
  width: 70%;
  min-width: 800px;
}
.desc-container .desc-content .content-heading {
  display: flex;
  margin-bottom: 1rem;
}
.desc-container .desc-content .content-heading h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #F57C00;
}
.desc-container .desc-content .desc-image {
  margin: 1.5rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.desc-container .desc-content .desc-image img {
  width: 60%;
  border-radius: 10px;
}
.desc-container .desc-content .desc-image::after {
  content: "Naruto World Map";
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  width: 100%;
  color: #FF9800;
  text-transform: uppercase;
  text-decoration: underline dotted 2px #FFA726;
}
.desc-container .desc-content .content-para p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
  color: white;
  opacity: 0.9;
}
.desc-container .desc-content .content-para p span {
  color: #FF9800;
  font-size: 1.5rem;
  font-weight: 400;
}
.desc-container .desc-content .content-para p a {
  color: #FF9800;
}
.desc-container .page-links {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.desc-container .page-links a {
  min-width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  margin: 1rem;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  border-radius: 5px;
  border: 1px solid white;
  transition: all 1s ease;
  color: white;
}
.desc-container .page-links a:hover {
  background: linear-gradient(315deg, #ec9f05 0%, #ff4e00 74%);
}
.desc-container .page-links a span {
  margin-left: 10px;
  transition: all 0.2s ease;
}
.desc-container .page-links a:hover span {
  margin-left: 15px;
  transform: scale(1.5);
}

@media screen and (max-width: 850px) {
  .desc-container .desc-content {
    width: 85%;
    min-width: 0px;
  }
  .desc-container .heading {
    margin-top: 3.5rem;
  }
}
@media screen and (max-width: 600px) {
  .desc-container .heading h1 {
    font-size: 1.8rem;
  }
  .desc-container .desc-content .content-heading h2 {
    font-size: 1.5rem;
  }
  .desc-container .desc-content .content-para p {
    font-size: 1rem;
  }
  .desc-container .desc-content .content-para p span {
    font-size: 1.2rem;
  }
  .desc-container .page-links a {
    width: 220px;
    font-size: 1.2rem;
  }
}
.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2.5rem 1.5rem;
}
.gallery-container .heading {
  margin-bottom: 3rem;
  margin-top: 3.5rem;
}
.gallery-container .heading h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  border-bottom: 3px solid #FB8C00;
  color: #FF9800;
}
.gallery-container .heading h1 span {
  font-weight: 200;
}
.gallery-container .gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.gallery-container .gallery .col {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}
.gallery-container .gallery .col img {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.gallery-container .gallery .col img:hover {
  filter: none;
}

@media screen and (max-width: 600px) {
  .gallery-container .gallery .col {
    width: 48%;
  }
  .gallery-container .gallery .col:nth-of-type(3) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
  .gallery-container .gallery .col:nth-of-type(3) img {
    width: 48%;
  }
}
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;
  padding: 0.5rem;
  border-bottom: 1px solid #E65100;
  height: 9vh;
  min-height: 64px;
}
.navbar-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.navbar-container nav .nav-logo img {
  width: 100px;
}
.navbar-container nav .nav-links {
  display: flex;
}
.navbar-container nav .nav-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.navbar-container nav .nav-links ul li {
  margin-right: 1.5rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  position: relative;
}
.navbar-container nav .nav-links ul li a {
  color: #FF9800;
}
.navbar-container nav .nav-links ul li::after {
  content: "";
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 50%;
  height: 2px;
  background: #FFE0B2;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%);
}
.navbar-container nav .nav-links ul li:hover::after {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .navbar-container {
    position: fixed;
  }
  .navbar-container nav .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    background: black;
    box-shadow: rgba(247, 245, 245, 0.35) 0px 15px 20px;
    border-radius: 4px;
    width: 60vw;
    max-width: 300px;
    transition: all 0.5s ease;
  }
  .navbar-container nav .nav-links ul {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;
    margin-left: 0.625rem;
  }
  .navbar-container nav .nav-links ul li {
    margin: 1rem;
  }
  .navbar-container nav .hide {
    transform: translate(100%);
  }
  .navbar-container nav .hamburger-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border-radius: 3px;
    z-index: 10000;
  }
  .navbar-container nav .hamburger-btn .hamburger {
    width: 30px;
    height: 1.8px;
    background: #E65100;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  .navbar-container nav .hamburger-btn .hamburger::before, .navbar-container nav .hamburger-btn .hamburger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 1.8px;
    background: #E65100;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  .navbar-container nav .hamburger-btn .hamburger::before {
    transform: translateY(-12px);
  }
  .navbar-container nav .hamburger-btn .hamburger::after {
    transform: translateY(12px);
  }
  .navbar-container nav .open .hamburger {
    transform: translateX(-8px);
    background: transparent;
    box-shadow: none;
  }
  .navbar-container nav .open .hamburger::before {
    transform: rotate(45deg) translate(5px, -5px);
  }
  .navbar-container nav .open .hamburger::after {
    transform: rotate(-45deg) translate(5px, 5px);
  }
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  background: black;
  border-top: 1px solid #E65100;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  width: 100%;
  color: white;
  margin-top: 3rem;
}
.footer-container footer span {
  color: #E65100;
}
.footer-container footer a {
  color: #E65100;
}

.characters-page-content {
  font-family: "Poppins", sans-serif;
}
.characters-page-content .characters-hero {
  width: 100%;
}
.characters-page-content .characters-hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.3;
  height: 100%;
}
.characters-page-content .characters-link {
  width: 100%;
  height: 100%;
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  color: white;
  flex-direction: column;
}
.characters-page-content .characters-link .links-heading {
  margin-bottom: 1rem;
  opacity: 0.9;
  text-align: center;
}
.characters-page-content .characters-link .links-content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.characters-page-content .characters-link .links-content a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #E65100;
  padding: 2rem;
  margin: 1.8rem;
  min-height: 280px;
  min-width: 420px;
  transition: all 0.3s ease;
  border-radius: 5px;
  box-shadow: rgba(243, 14, 14, 0.2) 0px 4px 10px 10px;
}
.characters-page-content .characters-link .links-content a:hover {
  transform: scale(1.05);
}
.characters-page-content .characters-link .links-content a img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-right: 1rem;
}
.characters-page-content .characters-link .links-content a h3 {
  color: #E65100;
  text-align: center;
  width: 100%;
}
.characters-page-content .more {
  display: flex;
  justify-content: center;
  color: #FFA726;
}

@media screen and (max-width: 850px) {
  .characters-page-content .characters-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  .characters-page-content .characters-hero img {
    position: relative;
    width: 85%;
    height: 300px;
    opacity: 0.8;
    border-radius: 5px;
    margin-top: 2rem;
    border: 1px solid #E65100;
  }
}
@media screen and (max-width: 500px) {
  .characters-page-content .characters-link .links-content a {
    min-width: 300px;
    margin: 1rem;
    flex-direction: column;
  }
  .characters-page-content .characters-link .links-content a h3 {
    margin-top: 1rem;
  }
}
.character-page {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
.character-page .character-page-content {
  margin: 3rem;
  width: 70%;
  min-width: 850px;
}
.character-page .character-page-content .character-profile {
  display: flex;
  justify-content: center;
}
.character-page .character-page-content .character-profile .profile-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.character-page .character-page-content .character-profile .profile-image div {
  margin: 0.5rem;
}
.character-page .character-page-content .character-profile .profile-image .image {
  display: flex;
  justify-content: center;
}
.character-page .character-page-content .character-profile .profile-image .image img {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}
.character-page .character-page-content .character-profile .profile-image .name {
  text-align: center;
}
.character-page .character-page-content .character-profile .profile-image .name h2 span {
  color: #E65100;
}
.character-page .character-page-content .character-profile .profile-image .tags-container {
  min-width: 300px;
}
.character-page .character-page-content .character-profile .profile-image .tags-container h4 {
  color: #FFCC80;
  display: block;
}
.character-page .character-page-content .character-profile .profile-image .tags-container .tags {
  display: flex;
  flex-wrap: wrap;
}
.character-page .character-page-content .character-profile .profile-image .tags-container .tags span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E65100;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 4px 8px;
  text-transform: lowercase;
}
.character-page .character-page-content .character-profile .profile-details {
  display: flex;
  justify-content: center;
  width: 100%;
}
.character-page .character-page-content .character-profile .profile-details table,
.character-page .character-page-content .character-profile .profile-details th,
.character-page .character-page-content .character-profile .profile-details td {
  border: 1px solid #E65100;
  border-collapse: collapse;
}
.character-page .character-page-content .character-profile .profile-details table {
  height: 100%;
  width: 100%;
  min-height: 400px;
  min-width: 300px;
}
.character-page .character-page-content .character-profile .profile-details th {
  width: 100%;
}
.character-page .character-page-content .character-profile .profile-details thead {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  background: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.character-page .character-page-content .character-profile .profile-details tr td {
  padding: 0 1rem;
}
.character-page .character-page-content .character-profile .profile-details tr td:nth-of-type(1) {
  text-transform: uppercase;
}
.character-page .character-page-content .character-profile .profile-details tr td:nth-of-type(2) {
  color: #FFB74D;
}
.character-page .desc-container {
  width: 100%;
}
.character-page .desc-container .desc-content {
  width: 100%;
}
.character-page hr {
  margin-top: 2rem;
  color: #E65100;
  opacity: 0.4;
}

@media screen and (max-width: 870px) {
  .character-page .character-page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 0px;
  }
  .character-page .character-page-content .character-profile {
    width: 85%;
    flex-direction: column;
  }
  .character-page .desc-container {
    width: 85%;
    min-width: 300px;
  }

  hr {
    display: none;
  }
}
.quotes-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: white;
}
.quotes-page .quotes-page-content {
  width: 70%;
}
.quotes-page .quotes-page-content .add-quotes {
  width: 70%;
}
.quotes-page .quotes-page-content .add-quotes form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quotes-page .quotes-page-content .add-quotes form input,
.quotes-page .quotes-page-content .add-quotes form textarea {
  min-width: 300px;
  width: 50%;
  border: 1px solid #E65100;
  background: transparent;
  margin: 1rem 0;
  color: white;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: all 0.5s ease;
}
.quotes-page .quotes-page-content .add-quotes form input:focus,
.quotes-page .quotes-page-content .add-quotes form textarea:focus {
  border: 1px solid white;
  color: #E65100;
}
.quotes-page .quotes-page-content .add-quotes form textarea {
  max-height: 120px;
  resize: none;
}
.quotes-page .quotes-page-content .add-quotes form label {
  min-width: 300px;
  text-align: center;
  color: #E65100;
  font-size: 1.5rem;
}
.quotes-page .quotes-page-content .add-quotes form button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #E65100;
  background: white;
}
.quotes-page .quotes-page-content .add-quotes form button:hover {
  background: #E65100;
  color: white;
}
.quotes-page .quotes-page-content .quotes,
.quotes-page .quotes-page-content .user-quotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quotes-page .quotes-page-content .quotes .quote,
.quotes-page .quotes-page-content .user-quotes .quote {
  width: 70%;
  margin: 1rem 0;
}
.quotes-page .quotes-page-content .quotes .quote p,
.quotes-page .quotes-page-content .user-quotes .quote p {
  text-align: center;
}
.quotes-page .quotes-page-content .quotes .quote span,
.quotes-page .quotes-page-content .user-quotes .quote span {
  text-align: center;
  width: 100%;
  display: block;
  color: #E65100;
}
.quotes-page .quotes-page-content hr {
  width: 100%;
  margin: 2rem 0;
  opacity: 0.4;
}

@media screen and (max-width: 900px) {
  .quotes-page .quotes-page-content .quotes .quote,
.quotes-page .quotes-page-content .user-quotes .quote {
    width: 100%;
  }
  .quotes-page .quotes-page-content .user-quotes {
    margin-top: 2rem;
  }
}
.village-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}
.village-page .village-image {
  display: flex;
  justify-content: center;
  width: 90%;
}
.village-page .village-image img {
  width: 70%;
  min-width: 300px;
  border-radius: 10px;
  border: 2px solid #E65100;
}

.jutsu-page .jutsu-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Poppins", sans-serif;
}
.jutsu-page .jutsu-page-content .jutsu-content {
  display: flex;
  flex-direction: column;
}
.jutsu-page .jutsu-page-content .jutsu-content .hero-image {
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.jutsu-page .jutsu-page-content .jutsu-content .hero-image img {
  min-width: 300px;
  opacity: 0.7;
}
.jutsu-page .jutsu-page-content .desc-container {
  margin: 1rem;
}
.jutsu-page .jutsu-page-content .desc-container .heading {
  margin: 0;
}
.jutsu-page .jutsu-page-content .jutsu-desc {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.jutsu-page .jutsu-page-content .jutsu-desc .jutsu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 700px;
  margin: 1rem;
}
.jutsu-page .jutsu-page-content .jutsu-desc .jutsu .jutsu-image {
  width: 100%;
}
.jutsu-page .jutsu-page-content .jutsu-desc .jutsu .jutsu-image img {
  width: 95%;
  min-width: 300px;
}
.jutsu-page .jutsu-page-content .jutsu-desc .jutsu .jutsu-para {
  width: 100%;
}
.jutsu-page .jutsu-page-content .jutsu-desc .jutsu .jutsu-para h3 {
  text-align: center;
  margin-bottom: 1rem;
  color: #E65100;
}
.jutsu-page .jutsu-page-content .jutsu-desc .jutsu .jutsu-para p {
  text-align: center;
  max-width: 95%;
}
.jutsu-page .jutsu-page-content .jutsu-desc .reversed {
  flex-direction: row-reverse;
}
.jutsu-page .jutsu-page-content hr {
  color: #E65100;
  width: 70%;
  opacity: 0.4;
  margin-bottom: 2rem;
}

@media screen and (max-width: 800px) {
  .jutsu-page .jutsu-page-content .jutsu-desc .jutsu {
    flex-direction: column;
    min-width: 0px;
  }
  .jutsu-page .jutsu-page-content .desc-container {
    margin: 2rem;
  }
  .jutsu-page .jutsu-page-content .desc-container .heading {
    margin: 3.5rem;
  }
}