// colors
$primary-900: #212121;
$primary-800: #424242;
$primary-700: #616161;
$primary-600: #757575;
$primary-500: #9E9E9E;
$primary-400: #BDBDBD;
$primary-300: #E0E0E0;
$primary-200: #EEEEEE;
$primary-100: #F5F5F5;
$primary-50: #FAFAFA;
