.gallery-container {
  @include flexCenter();
  flex-direction: column;
  margin: 2.5rem 1.5rem;
  .heading {
    margin-bottom: 3rem;
    h1 {
      @include heading(2rem);
      @include flexCenter();
      font-weight: 400;
      border-bottom: 3px solid $primary-600;
      color: $primary-500;
      span {
        font-weight: 200;
      }
    }
  }
  .gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    .col {
      display: flex;
      flex-direction: column;
      width: 32.5%;
      img {
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 5px;
        transition: all 0.5s ease;
        cursor: pointer;
        &:hover{
            filter: none;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .gallery-container {
    .gallery {
      .col {
        width: 48%;
        &:nth-of-type(3) {
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          flex-wrap: wrap;
          img {
            width: 48%;
          }
        }
      }
    }
  }
}
