.desc-container {
  @include flexCenter();
  margin: 2rem 0;
  flex-direction: column;
  .heading {
    margin-bottom: 3rem;
    h1 {
      @include heading(3rem);
      font-weight: 400;
      // color: $primary-900;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      background: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
      -webkit-background-clip: text;
      background-clip: text;
      z-index: 1;
      -webkit-text-fill-color: transparent;
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        background: $primary-800;
        bottom: 0;
        transform: skew(-30deg);
        background-color: #ff4e00;
        background: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
      }
    }
  }
  .desc-content {
    width: 70%;
    min-width: 800px;
    .content-heading {
      display: flex;
      margin-bottom: 1rem;
      h2 {
        @include heading(2rem);
        color: $primary-700;
      }
    }
    .desc-image {
      margin: 1.5rem 0;
      width: 100%;
      @include flexCenter();
      flex-direction: column;
      text-align: center;
      img {
        width: 60%;
        border-radius: 10px;
      }
      &::after {
        content: "Naruto World Map";
        font-family: "Poppins", sans-serif;
        margin-top: 10px;
        width: 100%;
        color: $primary-500;
        text-transform: uppercase;
        text-decoration: underline dotted 2px $primary-400;
      }
    }
    .content-para {
      p {
        @include heading(1.1rem);
        margin-bottom: 0.7rem;
        color: white;
        opacity: 0.9;
        span {
          color: $primary-500;
          font-size: 1.5rem;
          font-weight: 400;
        }
        a {
          color: $primary-500;
        }
      }
    }
  }
  .page-links {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    a {
      min-width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
      margin: 1rem;
      padding: 1rem;
      font-family: "Poppins", sans-serif;
      font-size: 2rem;
      border-radius: 5px;
      border: 1px solid white;
      transition: all 1s ease;
      color: white;
      &:hover {
        background: linear-gradient(315deg, #ec9f05 0%, #ff4e00 74%);
      }
      span {
        margin-left: 10px;
        transition: all 0.2s ease;
      }
      &:hover {
        span {
          margin-left: 15px;
          transform: scale(1.5);
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .desc-container {
    .desc-content {
      width: 85%;
      min-width: 0px;
    }
    .heading{
      margin-top: 3.5rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .desc-container {
    .heading {
      h1 {
        font-size: 1.8rem;
      }
    }
    .desc-content {
      .content-heading {
        h2 {
          font-size: 1.5rem;
        }
      }
      .content-para {
        p {
          font-size: 1rem;
          span {
            font-size: 1.2rem;
          }
        }
      }
    }
    .page-links {
      a {
        width: 220px;
        font-size: 1.2rem;
      }
    }
  }
}
